img {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff2be;
}

/* Baggrundsbillede + h1 + logo---------------------- */

#logo {
  width: 20%;
  left: 0%;
  aspect-ratio: 1/1;
  position: absolute;
  padding: 10px;
}

header {
  background-image: url("babushkapic1.webp");
  background-size: cover;
  height: 50vh;
}

header h1 {
  display: flex;
  place-content: center;
}

/* Navigationsmenu med knapper-------------- */

nav {
  display: flex;
  flex-direction: row;
  place-content: center;
  background-color: #f37042;
  padding: 10px;
}

.valgt {
  background-color: #98cbcb;
  opacity: 80%;
  color: #16325c;
}

button {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.125rem;
  background-color: #16325c;
  color: #98cbcb;
  border-radius: 15px;
  padding: 10px;
  margin: 0px 30px 0px 30px;
}

#menuoverskrift,
main {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1200px) 1fr;
  justify-content: space-evenly;
}

#menuoverskrift h2,
main section {
  grid-column: 2/3;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin: 10px;
}

article {
  background-color: #98cbcb;
}

#modal {
  display: none;
  width: 100vw;
  height: 100vh;
  display: fixed;
  background-color: #16325ce3;
}

#modal article {
  max-width: 900px;
  margin: auto;
  background-color: #98cbcb;
  padding: 10px;
}

footer {
  background-color: #16325c;
  opacity: 90%;
  padding: 30px;
}

address {
  display: block;
  color: #98cbcb;
  font-size: 20px;
}

h1 {
  font-family: "Sansita Swashed", "Dancing Script", cursive;
  font-size: 4.5rem;
  color: #f37042;
  text-align: center;
  padding-top: 30px;
}

h2 {
  font-family: "Sansita Swashed", "Dancing Script", cursive;
  font-size: 3rem;
  padding: 20px;
  color: #16325c;
}

h3,
p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  padding: 10px;
}

@media (min-width: 1250px) {
  #logo {
    width: 20%;
    left: 8%;
    aspect-ratio: 1/1;
    position: absolute;
  }
}

@media (min-width: 1050px) {
  h1 {
    font-family: "Sansita Swashed", "Dancing Script", cursive;
    font-size: 6rem;
    color: #f37042;
    text-align: center;
    padding-top: 100px;
  }
}
